/*Header Section*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  background-color: white;
}

/*Logo Section*/
.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  flex-wrap: wrap;
  padding-left: 10px;
}

/*Nav Section*/
a {
  color: black;
}

nav {

  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*content section*/
.content {
  position: relative;
  display: flex;
  top: 80px;
  padding-top: 30px;
  background-color: white;
}

.column {
  border: 1px solid black;
  display: inline-flex;
  flex-direction: column;
  padding-right: 30px
}

.story {
  border: 1px solid black;
}

.image {
  border: 1px solid black;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image.one {
  background-image: url("././images/img-story-main.png");
  font-size: 40px;
}

.image.two {
  background-image: url("././images/img-story-2-fallseason.png");
}

.image.three {
  background-image: url("././images/img-story-3-hipstercamera.png");
}

.image.four {
  background-image: url("././images/img-story-1.png");
}

.list {
  border: 1px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.story p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
