/*Header Section*/
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid black;
  background-color: white;
}

/*Logo Section*/
.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  flex-wrap: wrap;
  padding-left: 10px;
}

/*Nav Section*/
a {
  color: black;
}

nav {

  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/*content section*/
.content {
  position: relative;
  display: flex;
  padding: 80px;
  background-color: white;
}

.column {
  border: 1px solid black;
  display: inline-flex;
}

.story {
  border: 1px solid black;
}

.image {
  border: 1px solid black;
}
